<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>Label</key>
  <string>com.av.sync-to-remote</string>

  <key>ProgramArguments</key>
  <array>
    <string>/Users/Shared/av-tool-sync-to-remote/sync-to-remote.sh</string>
  </array>

  <key>EnvironmentVariables</key>
  <dict>
      <key>PATH</key>
      <string>/usr/local/bin:/usr/local/sbin:/usr/bin:/usr/sbin:/bin:/sbin</string>
  </dict>

  <key>StartInterval</key>
  <integer>43200</integer>

  <key>StandardOutPath</key>
  <string>/tmp/sync-to-remote.stdout</string>

  <key>StandardErrorPath</key>
  <string>/tmp/sync-to-remote.stderr</string>

  <key>Nice</key>
  <integer>19</integer>

  <key>ProcessType</key>
  <string>Background</string>
</dict>
</plist>
